@font-face {
  font-family: "g2";
  src: url("g2ciao-silent.ttf");
}
@font-face {
  font-family: "p";
  src: url("PinyonScript-Regular.ttf");
}
@font-face {
  font-family: "l";
  src: url("Lyyra Extended.otf");
}
html,
body {
  /* font-family: "p"; */
  /* font-family: "g2"; */
  /* font-family: "l"; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.info {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 12;
}
h1 {
  position: absolute;
  font-family: "p";
  font-size: 12vw;
  text-align: center;
  text-shadow: 0px 0px 10px blue;
  color: white;
  width: 60vw;
  line-height: 32vh;
  height: 100vh;
  margin: 0;
  z-index: 22;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  font-weight: inherit;
  transform: translate(-50%, -50%);
  animation: reveal 6s linear;
  animation-fill-mode: forwards;
  pointer-events: none;
}
@keyframes reveal {
  0% {
    transform: translate(-50%, -50%) scale(0.75);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    display: none;
  }
}
#info-title {
  color: blue;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  font-size: 24px;
  cursor: pointer;
  z-index: 12;
  position: absolute;
  animation: shake 5s ease infinite;
}
#info-title:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-50deg);
  }
  12% {
    transform: rotate(20deg);
  }
  14% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.loader {
  width: 100%;
  height: 100%;
  background: whitesmoke;
  position: fixed;
  z-index: 20;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
.finished {
  opacity: 0;
}
.info-content {
  background-color: white;
  border: 1px solid black;

  box-sizing: border-box;
  /* border: 1px solid black; */
  padding: 0 12px;
  padding-top: 0px;
  font-size: 24px;
  height: 0vh;
  transition: transform 0.5s linear;
  /* padding-top: 120px; */
  height: 400px;
  width: 500px;
  position: absolute;
  z-index: 11;
  overflow: scroll;
  transform: translateY(-100vh);
  margin: 12px 64px;
}
.visible {
  overflow: scroll;
  transform: translateY(0vh);
}

.images {
  /* margin-top: 50%; */
  /* display: grid;
  grid-template-columns: 50% 50%; */
  width: 100vw;
  height: 100vh;
  position: fixed;
  perspective: 600px;
}
.img-item {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  /* background: white;*/
  transform-style: preserve-3d;
  box-sizing: border-box;
}
.img-item:hover {
  border: 1px solid gold;
}
.image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(0deg) rotateX(0deg);
  position: absolute;
  top: 0;
}
p:first-child {
  margin-top: 12px;
}
.name {
  height: 20px;
  padding: 12px;
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  background: white;
  transition: right 0.6s ease, transform 0.6s ease;
  border: 1px solid black;
  z-index: 12;
}
.name-active {
  /* right: 12px; */
  opacity: 1;
}
#sun {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(50%, -50%);
  width: 100vw;
  animation: blur 5s ease infinite;
  pointer-events: none;
}
@keyframes blur {
  0% {
    opacity: 80%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 80%;
  }
}
#vid {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: transparent
    url("../imgs/Bildschirmfoto 2021-02-16 um 10.04.19.png") no-repeat;
  background-size: cover;
  /* filter: invert(1); */
}
video {
  display: block;
}
#vid-rap {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -100;
}
